<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Control Room</title>
  </head>
  
  <body>
    
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}">Logout?</a>
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}

    
    {% if Item_list %}
        <ul>
        {% for item in Item_list %}
            <li><a href="/inventory/{{ item.id }}/">{{ item.Item_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
  </body>
</html>
